@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
:root{
    --color-primary:#b7aea5;
    --color-secundary: #f77014 ;
    --color-ternario: #e33c08;
    --color-cuarto: #433d3d;
    --color-footer:#221d21;
    --color-shado-tranparent: 0px 0px 10px rgba(0, 0, 0, 0.416);
}

